<h2 style="color: #b00100; margin: 0 auto">all items</h2><br />

<table>
  <tr>
    <th>Item Id</th>
    <th>Name</th>
    <th>Weight</th>
    <th>Price</th>
    <th>Description</th>
    <th>Rating</th>
    <th>Remove</th>
  </tr>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.id %></td>
    <td><%= link_to item.name, item_path(item) %></td>
    <td><%= item.price %></td>
    <td><%= item.weight %></td>
    <td><%= item.description %></td>
    <td><%= item.votes_count %>, <%= link_to '+', upvote_item_path(item) %></td>
    <td></td>
    <td><%= button_to 'remove', item_path(item), method: :delete %></td>
  </tr>
  <% end %>
</table>
<br />
<%= link_to 'new Item', new_item_path %>
<br>
<%= link_to 'Expensive price', expensive_items_path %>
<br>
<%= link_to 'All items', items_path %>